.vs/
**/bin/Debug/**
**/obj/Debug/**
*/obj/**
Output/
Output2/
packages/
ClassicAssist/ClassicAssist.csproj.user
ClassicAssist.sln.DotSettings.user
ClassicAssist/Properties/launchSettings.json
ClassicAssist.Launcher/ClassicAssist.Launcher.csproj.user
CleanupModified.ps1
Tools/ExportCommands/obj/
ClassicAssist.Tests/bin/
ClassicAssist.UITest/bin/
ClassicAssist.Avalonia/ClassicAssist.Avalonia.csproj.user
ClassicAssist.Updater/ClassicAssist.Updater.csproj.user
ClassicAssist.Avalonia/Properties/launchSettings.json
