<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <dllmap dll="SDL2.dll">
    <dllentry os="linux" dll="lib64/libSDL2-2.0.so.0" />
    <dllentry os="osx" dll="osx/libSDL2-2.0.0.dylib" />
  </dllmap>
</configuration>