<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SHARDS_HASH_URL"
         value="https://raw.githubusercontent.com/Reetus/ClassicAssist-Shards/main/shards.hash.json" />
    <add key="SHARDS_URL" value="https://raw.githubusercontent.com/Reetus/ClassicAssist-Shards/main/shards.json" />
  </appSettings>
</configuration>