name: Pull Requests

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore /p:Version=0.5.$env:GITHUB_RUN_NUMBER-pr+$(git rev-parse --short HEAD)
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - uses: actions/upload-artifact@v3
      with:
        name: build
        path: Output\net48
